<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Confirm Delete{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>{% block heading %}Confirm Delete{% endblock %}</h1>

    <p>Are you sure you want to delete student "{{ student.name }}"?</p>

    <form action="{% url 'student-delete' student.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete" class="btn btn-primary">
        <a href="{% url 'student-list'  %}" class="btn btn-secondary">Cancel</a>
    </form>
</body>
</html>
