{% extends 'base.html' %}

{% block title %}Student List{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<a href="{% url 'student-dashboard' %}">Dashboard</a>
<b> | </b>
<a href="{% url 'student-create' %}">Add Student</a>
<b> | </b>
<a href="{% url 'logout' %}">Logout</a>
<br> <br>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    body {
        margin: 20px;
    }

    .top-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 50px;
    }
</style>
{% endblock %}
{% block content_title %}Students{% endblock %}
{% block content %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}
{% if message %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}
<div class="top-section">
    <div>
        <label for="pageSizeSelect">Page Size:</label>
        <select id="pageSizeSelect">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>

<table id="studentTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Department</th>
            <th>Degree</th>
            <th>Date Of Birth</th>
            <th>City</th>
            <th>Interest</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.roll_number }}</td>
            <td>{{ student.department }}</td>
            <td>{{ student.degree_title }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.city }}</td>
            <td>{{ student.interest.name }}</td>
            <td>
                <a href="{% url 'student-detail' student.pk %}">View</a>
                <b>|</b>
                <a href="{% url 'student-update' student.pk %}">Edit</a>
                <b>|</b>
                <a href="{% url 'student-delete' student.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#studentTable').DataTable({
            // DataTable configurations
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "info": true,
        });
        var pageInfo = table.page.info();
        $('#pageInfo').text('Page ' + (pageInfo.page + 1) + ' of ' + pageInfo.pages);
        function updatePageInfo() {
           
            $('#firstPageBtn').prop('disabled', pageInfo.page === 0);
            $('#prevPageBtn').prop('disabled', pageInfo.page === 0);
            $('#nextPageBtn').prop('disabled', pageInfo.page === pageInfo.pages - 1);
            $('#lastPageBtn').prop('disabled', pageInfo.page === pageInfo.pages - 1);
        }

        updatePageInfo();

        $('#studentTable').on('page.dt', function () {
            updatePageInfo();
            logActivity('Navigated to page ' + (table.page.info().page + 1));
        });

        $('#pageSizeSelect').on('change', function () {
            var selectedPageSize = $(this).val();
            table.page.len(selectedPageSize).draw();
            table.page('first').draw('page');
            updatePageInfo();
            logActivity('Changed page size to ' + selectedPageSize);
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function logActivity(action) {
            $.ajax({
                url: '/log-activity/',
                method: 'POST',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                data: {
                    action: action
                },
                success: function (response) {
                },
                error: function (error) {
                }
            });
        }
    });
</script>

{% endblock %}