{% extends 'base.html' %}

<div class="ml-3 mt-3">
    {% block title %}Student Form{% endblock %}
</div>
{% block extra_head %}

<div class="ml-3 mt-3">
    <a href="{% url 'student-list' %}">Student List</a>
    <b> | </b>
    <a href="{% url 'student-create' %}">Add Student</a>
    <b> | </b>
    <a href="{% url 'logout' %}">Logout</a>
    <br> <br>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        text-align: center;
    }

    .box {
        width: 200px;
        height: 100px;
        border: 2px solid #007bff;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        background-color: #f0f0f0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .count {
        font-size: 46px;
        font-weight: bold;
    }
    .row-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .box-containerr {
        flex: 1 1 calc(33.33% - 1px);
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

</style>

{% endblock %}
{% block content_title %}Dashboard{% endblock %}

{% block content %}
<div class="grid-container">
    <div>
        <h2>Top 5 Interests</h2>
        {% for interest in top_interests %}
        <div style="background-color: green; color: white; padding: 10px; margin: 5px; display: inline-block;">
            {{ interest.name }}
        </div>
        {% endfor %}
    </div>

    <div>
        <h2>Bottom 5 Interests</h2>
        {% for interest in bottom_interests %}
        <div style="background-color: red; color: white; padding: 10px; margin: 5px; display: inline-block;">
            {{ interest.name }}
        </div>
        {% endfor %}
    </div>

    <div class="box-container">
        <div class="box">
            <h5>Distinct Interests</h5>
            <div class="count">{{ distinct_interests_count }}</div>
        </div>
    </div>

    <div>
        <h2>Student Statistics</h2>
        <table border="1">
            <tr>
                <th>Student Status</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>Total Students</td>
                <td>{{ total_students }}</td>
            </tr>
            <tr>
                <td>Studying</td>
                <td>{{ studying_students_count }}</td>
            </tr>
            <tr>
                <td>Recently Enrolled </td>
                <td>{{ recently_enrolled_count }}</td>
            </tr>
            <tr>
                <td>About to Graduate</td>
                <td>{{ about_to_graduate_count }}</td>
            </tr>
            <tr>
                <td>Graduated</td>
                <td>{{ graduated_students_count }}</td>
            </tr>
        </table>
    </div>

    <div>
        <canvas id="provincialChart" width="200" height="200"></canvas>
        <h2>Provincial Distribution</h2>
    </div>

    <div>
        <canvas id="submissionChart" width="200" height="200"></canvas>
        <h2>Submission Chart</h2>
    </div>

    <div>
        <canvas id="ageChart" width="200" height="200"></canvas>
        <h2>Age Distribution</h2>
    </div>

    <div>
        <canvas id="departmentChart" width="200" height="200"></canvas>
        <h2>Department Distribution</h2>
    </div>

    <div>
        <canvas id="degreeChart" width="200" height="200"></canvas>
        <h2>Degreee Distribution</h2>
    </div>

    <div>
        <canvas id="genderChart" width="200" height="200"></canvas>
        <h2>Genders Distribution</h2>
    </div>

    <div>
        <canvas id="dailyActivityChart" width="200" height="200"></canvas>
        <h2>Last 30 days Activity</h2>
    </div>

    <div>
        <canvas id="activityCountsChart" width="200" height="200"></canvas>
        <h2>Last 24 hours Activity</h2>
    </div>
    <div class="row-container">
            <div class="box-containerr">
                <div id="mostActiveHours" class="card-container">
                </div>
            </div>

            <div class="box-containerr">
                <div id="leastActiveHours" class="card-container">
                </div>
            </div>

            <div class="box-containerr">
                <div id="deadHours" class="card-container">
                </div>
            </div>
    </div>
</div>

<script>
    var provinceLabels = JSON.parse("{{ province_labels|escapejs }}");
    var provinceCounts = JSON.parse("{{ province_counts|escapejs }}");
    var ageGroups = JSON.parse("{{ age_groups|escapejs }}");
    var ageCounts = JSON.parse("{{ age_counts|escapejs }}");
    var departmentLabels = JSON.parse('{{ department_labels|escapejs }}');
    var departmentCounts = JSON.parse('{{ department_counts|escapejs }}');
    var degreeLabels = JSON.parse('{{ degree_labels|escapejs }}');
    var degreeCounts = JSON.parse('{{ degree_counts|escapejs }}');
    var genderLabels = JSON.parse('{{ gender_labels|escapejs }}');
    var genderCounts = JSON.parse('{{ gender_counts|escapejs }}');
    var chartData = JSON.parse('{{ chart_data | safe }}');

    var dates = chartData.map(item => item.date);
    var studentCounts = chartData.map(item => item.student_count);

    var ctx = document.getElementById('submissionChart').getContext('2d');
    var submissionChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: 'Number of Students Created Daily',
                data: studentCounts,
                borderColor: 'blue',
                backgroundColor: 'rgba(0, 0, 255, 0.1)',
                borderWidth: 1
            }]
        },
        options: {
        }
    });


    var ageCtx = document.getElementById('ageChart').getContext('2d');
    var ageChart = new Chart(ageCtx, {
        type: 'bar',
        data: {
            labels: ageGroups,
            datasets: [{
                label: 'Number of Students',
                data: ageCounts,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'x',
            scales: {
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Number of Students'
                    }
                },
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Age Groups'
                    }
                }
            }
        }
    });

    function generateRandomColors(count) {
        var colors = [];
        for (var i = 0; i < count; i++) {
            var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
            colors.push(randomColor);
        }
        return colors;
    }

    function createPieChart(ctx, labels, data, chartTitle) {
        var colors = generateRandomColors(data.length);
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: colors,
                }]
            },
            options: {
                title: {
                    display: true,
                    text: chartTitle,
                    fontSize: 16,
                    fontColor: '#333',
                },
            }
        });
    }

    function createLineChart(canvasId, data) {
        const ctx = document.getElementById(canvasId).getContext('2d');
        return new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.map(entry => entry.day),
                datasets: [{
                    label: 'Activity Count',
                    data: data.map(entry => entry.count),
                    borderColor: 'blue',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Time'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Actions'
                        }
                    }
                }
            }
        });
    }

    var departmentCtx = document.getElementById('departmentChart').getContext('2d');
    var degreeCtx = document.getElementById('degreeChart').getContext('2d');
    var genderCtx = document.getElementById('genderChart').getContext('2d');
    var provincialCtx = document.getElementById('provincialChart').getContext('2d');

    createPieChart(provincialCtx, provinceLabels, provinceCounts, 'Provincial Distribution');
    createPieChart(departmentCtx, departmentLabels, departmentCounts, 'Department Distribution');
    createPieChart(degreeCtx, degreeLabels, degreeCounts, 'Degree Distribution');
    createPieChart(genderCtx, genderLabels, genderCounts, 'Gender Distribution');

    document.addEventListener("DOMContentLoaded", function () {
        var thirtyDaysAgo = '{{ thirty_days_ago }}';
        var twentyFourHoursAgo = '{{ twenty_four_hours_ago }}';
        var dailyActivity30Days = JSON.parse('{{ daily_activity_30_days | safe }}');
        var activityCounts24Hours = JSON.parse('{{ activity_counts_24_hours | safe }}');

        thirtyDaysAgo = new Date(thirtyDaysAgo);
        twentyFourHoursAgo = new Date(twentyFourHoursAgo);

        var dailyLabels = dailyActivity30Days.map(function (item) {
            return item.day;
        });

        var dailyCounts = dailyActivity30Days.map(function (item) {
            return item.count;
        });

        var quarterHourLabels = activityCounts24Hours.map(function (item) {
            return item.quarter_hour;
        });

        var activityCounts = activityCounts24Hours.map(function (item) {
            return item.count;
        });

        var ctxDailyActivity = document.getElementById('dailyActivityChart').getContext('2d');
        var dailyActivityChart = new Chart(ctxDailyActivity, {
            type: 'line',
            data: {
                labels: dailyLabels,
                datasets: [{
                    label: 'Daily Activity in Last 30 Days',
                    data: dailyCounts,
                    borderColor: 'blue',
                    fill: false
                }]
            },
            options: {
            }
        });

        var ctxActivityCounts = document.getElementById('activityCountsChart').getContext('2d');
        var activityCountsChart = new Chart(ctxActivityCounts, {
            type: 'line',
            data: {
                labels: quarterHourLabels,
                datasets: [{
                    label: 'Activity Counts in Last 24 Hours',
                    data: activityCounts,
                    borderColor: 'red',
                    fill: false
                }]
            },
            options: {
            }
        });
    });

    var mostActiveHours = JSON.parse('{{ most_active_hours | safe }}');
    var leastActiveHours = JSON.parse('{{ least_active_hours | safe }}');
    var deadHours = JSON.parse('{{ dead_hours | safe }}');

    function populateCards(containerId, title, hoursData) {
        var container = document.getElementById(containerId);
        container.innerHTML = '';

        var card = document.createElement('div');
        card.classList.add('card');

        var cardBody = document.createElement('div');
        cardBody.classList.add('card-body');

        var cardTitle = document.createElement('h5');
        cardTitle.classList.add('card-title');
        cardTitle.textContent = title;

        var cardContent = document.createElement('div');
        cardContent.classList.add('card-text');

        for (var i = 0; i < hoursData.length; i++) {
            var hour = document.createElement('p');
            var suffix = (hoursData[i] < 12) ? 'AM' : 'PM';
            var displayHour = (hoursData[i] < 13) ? hoursData[i] : hoursData[i] - 12;
            hour.textContent = displayHour + ' ' + suffix;
            cardContent.appendChild(hour);
        }

        cardBody.appendChild(cardTitle);
        cardBody.appendChild(cardContent);
        card.appendChild(cardBody);
        container.appendChild(card);
    }

    populateCards('mostActiveHours', 'Most Active Hours in Last 30 Days', mostActiveHours);
    populateCards('leastActiveHours', 'Least Active Hours in Last 30 Days', leastActiveHours);
    populateCards('deadHours', 'Dead Hours in Last 30 Days', deadHours);


</script>
{% endblock %}